<div class="d-flex align-items-center justify-content-center">
   
    <div class="col-md-9 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Category</h4>
         
            <div class="form-group row">
              <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Category Name</label>
              <div class="col-sm-9">
                <input type="text" [(ngModel)]="CategoryName" class="form-control" id="exampleInputUsername2" >
              </div>
            </div>
            <div class="form-group row">
              <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Parent</label>
              <div class="col-sm-9">
                <select class="form-control" [(ngModel)]="Parent" aria-label="Default select example">
                  <option selected>Root</option>
                  <option >Sub</option>
                </select>
              </div>
            </div>
  
            <div class="form-group row">
              <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Status</label>
              <div class="col-sm-9">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox"  [(ngModel)]="Status" class="form-control" >
                    Active
                  </label>
                </div>
              </div>
          </div>
         
            <button class="btn btn-primary mr-2" (click)="addCategory()">Submit</button>
            <button class="btn btn-light" (click)="updateCategory()" >Cancel</button>
          
        </div>
      </div>
    </div>
      
  </div>
  
